<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.favoway.spread">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPREAD">
        <activity
            android:name="com.favoway.spread.CanvasViewR"
            android:parentActivityName="com.favoway.spread.ConfigureRModelActivity"></activity>
        <activity
            android:name="com.favoway.spread.CanvasViewSIR"
            android:parentActivityName="com.favoway.spread.ConfigureSirModelActivity"></activity>
        <activity
            android:name="com.favoway.spread.ConfigureSirModelActivity"
            android:parentActivityName="com.favoway.spread.SirActivity" />
        <activity
            android:name="com.favoway.spread.ConfigureRModelActivity"
            android:parentActivityName="com.favoway.spread.RModelActivity" />
        <activity
            android:name="com.favoway.spread.ConfigureDotsModelActivity"
            android:parentActivityName="com.favoway.spread.IntroDotsModel" />
        <activity
            android:name="com.favoway.spread.IntroDotsModel"
            android:parentActivityName="com.favoway.spread.MainActivity" />
        <activity
            android:name="com.favoway.spread.RModelActivity"
            android:parentActivityName="com.favoway.spread.MainActivity" />
        <activity
            android:name="com.favoway.spread.SirActivity"
            android:parentActivityName="com.favoway.spread.MainActivity" />
        <activity android:name="com.favoway.spread.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>